* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("Raleway/Raleway-Italic-VariableFont_wght.ttf");
}





@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }


    section#herbergement_et_populaire
    {
        flex-direction: column;
    }

    article
    {
       background-color: #0065FC; 
        margin-bottom: 15px;
      order: 2;  
    }
    aside{
      
    order: 1;}
    .ann_pop_gen{display: flex;
    flex-direction: row;
  width: 100%;}
    aside p:last-child
    {
        text-align: center;
    }

    /*.hebergement{ flex-direction: column;width: auto;}
    .location{ flex-direction: column;width: auto;}
    .marseille{flex-direction: column;width: auto;}*/

}









body {
  font-family: "Raleway";
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#bloc_page {
  margin-left: 50px;
  margin-right: 50px;
}
header nav li a:hover, header nav li a:focus{border-top:  2px solid blue;
padding: 48px;
color: #0065FC;}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.hnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0px;
}
.inscrire {
  display: flex;
  margin-top: 52px;
}
p9{color: #0065FC;}
p8{color: #DEEBFF;}
p7{color: grey;}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  flex: none;
  width: 75%;
}
.point {
  display: flex;
  flex-direction: row;
}

.themes {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: row;
}


.post {

    display: flex;
    margin-top: 50px;

}



.logo_recherche {

    border-radius: 0px 15px 15px 0px;

}



.logo_recherche i {

    display: none;

}



.post > * {

    border: 1.5px solid #f2f2f2;
    line-height: 20px;
    padding: 0 1rem;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 17px;
    outline: 0;

}








.post button {

    border: 0;
    margin-right: 10px;
    background: #0065FC;
    color: #fff;
    cursor: pointer;

}






.position  {

    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px;


}
.themes {

    margin-top: 50px;
    display: flex;
    align-items: center;
}


.themes h2 {

    margin-right: 30px;

}



.themes .point {

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
   
}




.themes {

    
    height: auto;
    display: flex;
    flex-wrap: wrap;
}






.item {

    height: 50px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
    
}


.item:first-child {

    margin-left: 0;

}



.item i {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #dae4f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;

}



.item h3 {


    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
}




.item:hover {

    background: #0065FC;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}






.info {

    margin-top: 30px;
    display: flex;

}



.info i {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 5px;


}



.info p {

    margin-top: 12px;
    margin-left: 20px;

}



.fa,
.fas {
  font-weight: 900;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
user agent stylesheet i {
  font-style: italic;
}

.location {
  display: flex;
  flex-wrap: wrap;
}

.picture img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
  height: 130px;
}
.picture {
  /*  width: calc(33% - 30px);*/
  display: flex;
  flex-direction: column;
  flex: 28%;
  background: #fff;
  padding: 5px;
  border-radius: 25px;
  margin: 15px;
  box-shadow: 0px 0px 5px 0px;
  /*transform: scale(1);*/
  /*transition: .2s ease-in-out;*/
  cursor: pointer;
  height: 230px;
}

aside {
  text-align: justify;
  border-radius: 20px 20px 20px 20px;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: space-around;
  flex: none;
  width: 23%;
}

aside h5{margin-bottom: 0px;}
.ann_pop_gen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}
.ann_pop {
  display: flex;
  background: #fff;
  margin-top: 30px;
  width: 100%;
  height: 140px;
  border-radius: 27px 20px 20px 27px;
  box-shadow: 0px 1px 1px 0px;
  transform: scale(1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.pop_card {
  width: 40%;
}
.pop_card img {
  width: 100%;
  margin: 5px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 25px 0px 0 25px;
  height: 130px;
}
.description_pop {
  font-size: 15px;
  padding-bottom: 50px;
  margin: 10px;
}
.blue {
  color: #0065fc;
  font-size: 13px;
  padding-top: 20px;
}
.grey {
  color: gray;
  font-size: 13px;
  padding-top: 20px;
}
.fa-star:before {
  content: "\f005";
}




#ActMar{display: flex;
        flex-direction: column;

}


.marseille {
  display: grid;
  
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 150px 150px;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  
}


.item2{display: flex;
flex-direction: column;
box-shadow: 0px 2px 2px 2px grey;
border-radius: 25px 25px 25px 25px;

}
.item2m{display: flex;
  flex-direction: column;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 2px 2px 2px grey;
  align-items: center;
      
}


.item2g{
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 2px 2px 2px grey;
  align-items: center;}

.item2m img{ width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;

}


.item2g{
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 2px 2px 2px grey;
  align-items: center;}

.item2g img{ width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;

}
.item2 img{ width: 100%;
            height: 75%;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;

}



.iA{grid-row: -1/1;
    grid-column: 1;
    color: black;
}
.iB{grid-row: 1;
    grid-column: 2;
  color: black;
  
}
.iD{grid-row: 1/-1;
    grid-column: 3;
  color: black;
}
.iC{grid-column: 2;
  color: black;}
.iF{grid-column: 4;
    grid-row: 2;
    color: black;}
.iE{grid-column: 4;
    grid-row: 1;
    color: black;}


.fp{height: 160px;}


#footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  
}

.foot ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
   
}
h6{margin-top: 10px;
  margin-bottom: 10px;}
p1{color: grey;}

a {
  text-decoration: none;
  color: black;
}
