* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}
body {
  font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
  color: black;
}

#bloc_page {
  margin: 0 50px 4rem;
}

header {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

#login {
  padding-top: 40px;
  margin-right: 40px;
}

#login a {
  color: #0065fc;
}

#logo {
  flex: 1;
  width: 100px;
  padding-top: 35px;
}

nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  padding-top: 40px;
  margin-right: 40px;
  padding-right: 35px;
  padding-left: 35px;
}

nav ul li:hover {
  border-top: 3px solid #0065fc;
  padding-top: 37px;
}

nav ul a:hover {
  color: #0065fc;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

.slogan_searchbar {
  margin-top: 2rem;
}

.slogan_searchbar h1 {
  margin-bottom: 0px;
}

.post {
  display: flex;
  margin-top: 50px;
}

.post > * {
  border: 1.5px solid #f2f2f2;
  line-height: 20px;
  padding: 0 1rem;
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 17px;
  outline: 0;
}

.position  {

  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 18px;
}


/* #search*/

.post button {

  border: 0;
  margin-right: 10px;
  background: #0065FC;
  color: #fff;
  cursor: pointer;

}
.logo_recherche {

  border-radius: 0px 15px 15px 0px;

}

.logo_recherche i {

  display: none;

}




.filters {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
  
  align-items: center;
    
  height: auto;
  
  flex-wrap: wrap;
}
.filters .all_filters {

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
 
}

.filters h2 {

  margin-right: 30px;
  padding-top: 23px;

}

.item {

  height: 50px;
  margin: 10px 20px 10px 0;
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  
  
}


.item:first-child {

  margin-left: 0;

}



.item i {

  display: flex;
  justify-content: center;
  align-items: center;
  background: #dae4f3;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #0065FC;

}



.item h3 {


  font-size: 18px;
  font-weight: 900;
  margin-left: 20px;
}




.item:hover {

  background: #0065FC;
  color: #fff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.hostings {
  display: flex;
  flex-direction: row;
}

.hostings {

  margin-top: 30px;
  display: flex;

}

.hostings i {

  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  padding: 5px;


}



.hostings p {

  margin-top: 12px;
  margin-left: 20px;

}



.fa,
.fas {
font-weight: 900;
}
.fa,
.far,
.fas {
font-family: "Font Awesome 5 Free";
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}
*,
::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
user agent stylesheet i {
font-style: italic;
}











.hotels {
  display: flex;
  padding: 0;
  margin-bottom: 2rem;
}

.hotels
.populaire {
  margin-left: 20px;
}

.hotels article,
.hotels aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 2rem;

}

.hotels aside {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hotels .marseille {
  display: flex;
  flex-wrap: wrap;

}

.hotels h1,
h2 {
  margin-bottom: 1.5rem;
}


.hotel_card {
  /*  background-color: dodgerblue;*/
  display: flex;
  flex-direction: column;
  /*height: 220px;*/
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  margin-right: 30px;
  /* margin-left: 15px; */
  margin-bottom: 30px;
  flex: 29%;
}

.hotel_card img {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.hotel_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  padding: 5px 10px;
}

.hotel_description p,
h3 {
  margin: 0;
}

.hotel_rate {
  word-spacing: -1ch;
}

.blue {
  color: #0065fc;
  font-size: 13px;
  padding-top: 20px;
}
.grey {
  color: gray;
  font-size: 13px;
  padding-top: 20px;
}



/* aside */

.populaireTab {
  display: flex;
  flex-wrap: wrap;

}

.titlepop{margin: 0;
          display: flex;
        justify-content: space-between;}
.populaireIcon {
  justify-content: space-between;
  align-items: baseline;
}


.populaireCard {
  display: flex;
  height: 145px;
  width: 400px;
  border: 5px solid #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 7px #c1c1c1;
  box-sizing: border-box;
  overflow: hidden;
}

.populaireCard img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.description_pop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 0px;
  margin: 10px;
}

.populaireDescription .hotel_name+p {
  margin-top: 8px;
  margin-bottom: 0;
}

#ActMar h1{
  margin: 2.5rem 0rem 2rem 0rem;
}

.activites {

display: grid;
height: auto;
gap: 27px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, auto);
grid-template-areas:
"a b d e"
"a b d f"
"a c d f";

}

.activites .img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
display: flex;
flex-direction: column;
height: 100%;
box-sizing: border-box;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 0 7px #c1c1c1;
}

.activites img {
width: 100%;
height: 100%;
object-fit: cover;

}

.activites .text-aside {
padding: 10px;
background-color: #fff;
font-size: 1.1rem;
font-weight: 700;
}

.img1 {
grid-area: a
}

.img2 {
grid-area: b;
}

.img3 {
grid-area: c;
}

.img4 {
grid-area: d;
}

.img5 {
grid-area: e;
}

.img6 {
grid-area: f;
}



#footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content:space-around;
  text-decoration: none;
  
}

.foot ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
   
}
h6{margin-top: 10px;
  margin-bottom: 10px;}
p1{color: grey;}

a {
  text-decoration: none;
  color: black;
}

/* -------------------Responsive sur tablette---------------- */
  
  
@media screen and (max-width: 1024px) {
  
    
  /* -------------------hebergements & populaires & activites---------------- */
  
  
     .hotel_card {
      flex: 40%;
    }
  
    .hotels {
      flex-direction: column;
    }
  
    .hotels article {
      order: 2;
      margin-top: 2.5rem;
    }
  
    .hotels aside {
      margin: 0;
    }
  
    .populaireTab {
      display: flex;
      flex-wrap: wrap;
  
    }
  
    .populaireCard {
      flex: 30%;
      margin-right: 15px;
    }
  
  
    .activites {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "a b d"
        "e c f";
    }
  }
  
  
  
  @media screen and (max-width: 965px) {
    .populaireCard {
      flex: 100%;
    }
    .hotels .populaire {
      margin-left: 0px;
  }
  }
  
  
  @media screen and (max-width: 768px) {
    .activites {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "a b"
        "c d"
        "e f";
    }
  
  }
  
  
  /* -------------------Responsive sur mobile---------------- */
  
  @media screen and (max-width: 600px) {
  
    /* -------------------header---------------- */
  
  
  header {
      flex-direction: column;
  
  
    }
  
    header #logo {
      margin: 0 1rem;
    }
  
    header nav {
  
      order: 3;
      margin-bottom: 2rem;
  
    }
  
    header #login {
      align-self: flex-end;
      padding-top: 0;
      margin-right: 1rem;
      margin-top: -2rem;
    }
  
    header nav ul {
      justify-content: center;
  
    }
  
    nav ul a:hover {
      color: inherit;
    }
  
    nav ul li {
      padding-top: 37px;
      padding-bottom: 15px;
      margin-right: 0;
      width: 50%;
      text-align: center;
      border-bottom: 3px solid #f1eeee;
    }
  
    nav ul li:hover {
      border-top: none;
      border-bottom-color: #0065fc;
    }
  
  /* -------------------filters---------------- */
  
    .slogan_searchbar {
      margin: 0 1rem;
    }
  
    #filters {
      width: 100%;
      margin-left: 1rem;
  
    }
  
    #searchbar {
      display: flex;
  
  
    }
  
    #searchbar .middle {
      flex: 1;
    }
  
  
    #searchbar span.right {
      padding: 0 15px;
      border-radius: 10px;
    }
  
    #searchbar .val_search {
      display: none;
    }
  
    #searchbar .fa-search {
      display: block;
    }
  
    .container {
      margin: 0;
    }
  
  
    /* -------------------hebergements & populaires---------------- */
  
    section.hotels {
      margin-left: 0;
  
      width: 100%;
    }
  
    .hotels aside {
      border-radius: 0;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  
    .hotels article {
      border-radius: 0;
      padding-left: 2rem;
      padding-right: 0rem;
      background-color: #fff;
    }
  
    .hotel_card {
      flex: 100%;
    }
  
    .populaireCard {
      flex: 100%;
    }
  
    /* -------------------activites---------------- */
  
    .activites {
  
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 200px);
      grid-template-areas:
        "a"
        "c"
        "e"
        "b"
        "d"
        "f";
    }
  
    .activites img {
      height: 150px;
    }
  
    .activites .text-aside {
      height: 50px;
    }
  
    #hotels_activites {
      margin: 0 30px;
    }
  
  /* -------------------footer---------------- */
  
      footer {
      padding-left: 35px;
    }
  }