
header{ display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
h1{font-size:large;}
h2{font-size: small;}
h3{font-size: x-small;
    margin: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;}
h4{font-size: xx-small;
    margin: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;}

#bloc_page{
    width: 900px;
    margin: auto;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav{display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 70px;}    

section{display: flex;
        flex-direction: row;
        justify-content: space-around;}
article{display: flex;
        position: relative;
        background-color: #F2F2F2;
        flex-direction: column;
        border-radius: 20px 20px 20px 20px;
         }
#article1{position: absolute;
    flex-direction: column;
        margin: 20px 20px 20px 20px;}
aside
         {
             text-align: justify;
             border-radius: 20px 20px 20px 20px;
         }
        
        .pictures1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80%;}
            
        .pictures2{display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80%;}




#pictures{display: flex;
          flex-direction: row;
          justify-content: space-around;}

aside{background-color: #F2F2F2;
    
    position: relative;
         }



#footer{background-color: #F2F2F2;
    display:flex;
    justify-content: space-around;}

